{% extends "twitter/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'twitter/posts/styles.css' %}">
{% endblock %}

{% block title %}Index Page{% endblock %}

{% block body %}
<h1>Here we should see some posts. I wonder where they are... 🤔</h1>
<p>
    {% for post in posts %}
    <article class="post">
        <div class="post-header">
            <img src="{% static 'twitter/media/profile.png' %}" alt="Author Picture">
        </div>
        <div class="post-content-container">
            <span class="post-author">
                {% if post.author.name %}
                    {{ post.author.name }}
                {% else %}
                    <i>&lt;&lt;User Deleted&gt;&gt;</i>
                {% endif %}
            </span>
            <span class="post-content" >{{ post.content }}</span>
            <div class="post-actions"></div>
        </div>

    </article>
    {% endfor %}
</p>
{% endblock %}